.bathroom{
    background-color: slategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    padding:1%
}

.bathroomDate{
    display: inline;

}

.bathroomButton{
    background-color: #1553c9;
}