.btn-green{
    border-radius: 29px;
    padding-right: 29%!important;
}
.btn-orange{
    border-radius: 29px;
    padding-right: 32%!important;
}
.btn-red{
    border-radius: 29px;

}
.btn-green{
    border-radius: 29px;
    padding-left: 29%!important;
}

.btn-yellow{

    border-radius: 29px;
}